#container {
    max-width: 40%;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    color: rgb(189, 109, 17);
    background-color: rgb(50, 205, 179);
}

button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}
.increment {
    background-color: darkviolet;
    color: white;
}
.decrement {
    background-color: rgb(0, 204, 255);
    color: black;
}
.decrement:hover {
    background-color: rgb(244, 175, 96);
    color:snow;
}
.increment:hover {
    background-color: rgb(10, 207, 76);
    color: black;
}
.save-btn {
    margin: 10px;
}